.root {
    background-color: #eeeeee(148, 148, 148, 0.171);
    flex-direction: column;
}

.container {
    margin-top: 5vh;
}

.footer {
    padding: 1px;
    padding-top:1vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Header */

.menu {
    background-color: #587dadec !important;
}

.title {
    font-size: 30 ;
    font-family: 'BlinkMacSystemFont' !important;
    flex-grow: 1 ; 
}

.active {
    background-color: #3f51b5 !important;
}